#footer {
	background-color: #1f2228;
	min-height: 462px;
	color: #ffffff;
	padding-top: 60px;
}

#footer #connect i {
	margin: 5px;
}

#footer #rights {
	margin-top: 60px;
}

#footer .footer_block {
	margin-bottom: 30px;
}

#footer .fa {
	color: #CCCCCC;
}

#footer .fa:hover {
	color: white;
	cursor: pointer;
}

#footer h2, #footer h5 {
	color: #FFFFFF;
	position: relative;
	top: -15px;
}

#footer h5 {
	top: -27px;
}