#colorfade {
	position: relative;
	top: 0px;
	height: 100%;
	min-height: 700px;
	width: 100%;
	z-index: 3;
	-webkit-transform: translateZ(0);
	background-color: #000000;
}

#down {
	color: #FFFFFF;
	position: absolute;
	left: 48.5%;
	top: 93%;
	z-index: 6;
	cursor: pointer;
}

.hitem0 { background: url(/img/header/large-0.jpg); }
.hitem1 { background: url(/img/header/large-1.jpg); }
.hitem2 { background: url(/img/header/large-2.jpg); }
.hitem3 { background: url(/img/header/large-3.jpg); }
.hitem4 { background: url(/img/header/large-4.jpg); }

#header1, #header2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.hcover {
	-webkit-transform: translateZ(0);
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	opacity: 1;
	background-position: center 10%;
	background-repeat: no-repeat no-repeat;
}

#logo2 {;
	height: 140px;
	margin-top: 50px;
	margin-left: 34%;
}

#text_overlay {
	position: absolute;
	top: 0;
	left: 32px;
	height: 50%;
	text-align: left;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	z-index: 4;
}

#text_overlay h1 {
	color: #ffffff !important;
	font-weight: bold;
	/*font-size: 4em !important;*/
	font-family: 'Lato', sans-serif;
}

#text_overlay h2 {
	margin-top: -23px;
	color: #ffffff !important;
	/*font-size: 2.5em !important;*/
	font-family: 'Lato', sans-serif;}

#header_message {
	position: absolute;
	bottom: 0% !important;
	left: 3.2% !important;
	height: auto;
	text-align: left;
	text-shadow: 0px 0px 13px rgba(150, 150, 150, 0.8);
}

#header_message h1 {
	color: #ffffff !important;
	font-weight: bold;
	/*font-size: 4em !important;*/
	font-family: 'Lato', sans-serif;
}

#header_message h2 {
	color: #ffffff !important;
	/*font-size: 2.5em !important;*/
	font-family: 'Lato', sans-serif;
	top: -30px;
	position: relative;
}

#top_nav {
	position: fixed;
	top: 45px;
	right: 45px;
	color: #FFFFFF;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	z-index: 6;
}

#nav_bg {
	position: fixed;
	top: 0px;
	right: 0px;
	background-color: #000000;
	height: 65px;
	width: 100%;
	z-index: 5;
	opacity: 0;
}

#logo {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 50px;
	margin-top: 7.5px;
	margin-left: 7.5px;
	z-index: 6;
	opacity: 0;
}

#message h1 {
	color: #FFFFFF;
}

body {
	z-index: 0;
}

#owl-demo {
	clear: left;
	background-color: #1f2228;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	height: 12%;
	position: absolute; bottom: 0px;
	z-index: 1;
}

.owl-wrapper-outer {
	height: 100%;
}

.owl-wrapper {
	height: 100%;
}

#owl-demo .owl-item {
	height: 100%;
}

#owl-demo .item0 { background: url(/img/header/thumb-0.jpg); }
#owl-demo .item1 { background: url(/img/header/thumb-1.jpg); }
#owl-demo .item2 { background: url(/img/header/thumb-2.jpg); }
#owl-demo .item3 { background: url(/img/header/thumb-3.jpg); }
#owl-demo .item4 { background: url(/img/header/thumb-4.jpg); }

#owl-demo .item{
	cursor: pointer;
	height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.6;
    margin-right: 0px;
    margin-left: 0px;
}

#owl-demo .first{

}

#owl-demo .last{

}

#owl-demo .item.active {
	opacity: 1;
}
