#message {
	background-color: #1f2228;
	/*min-height: 462px;*/
	color: #ffffff;
	padding-top: 60px;
	padding-bottom: 60px;
	border-top: 0px solid #1f2228;
	border-bottom: 0px solid #1f2228;
	text-align: justify;
}