#view_package div.pack {
	display: none;
}

.content {
	line-height: 1.5;
	margin-bottom: 10px;
	margin-top: 0px;
	float: none !important;
}

#content .tabs-content {
	margin-bottom: 0px;
}

#view_package .tabs:after {
	clear: none !important;
}

#view_package .tabs dd.book {
	background-color: #008CBA;
}

#view_package .tabs dd.active a {
	background: none repeat scroll 0% 0% #090a0b !important;
}

#view_package .tabs dd > a {
	background: none repeat scroll 0% 0% #111316 !important;
	color: #FFFFFF !important;
	opacity: 0.6;
}

.pack-orbit {
	margin-bottom: 10px !important;
}

ul.infobox {
	padding: 10px;
	margin: 0px;
	color: #a3aaba;
	margin-left: 0px;
	margin-bottom: 24px;
	font-size: 0.9em;
	background-color: rgba(17, 19, 22, 0.6);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: right;
}

ul.infobox li {
	display: block;
	padding: 10px 0;
	border-bottom: 1px solid #2d313b;
	overflow: auto;
}

ul.infobox li span.key {
	margin-right: 20px;
	color: #FFFFFF;
	float: left;
}

ul.infobox li span.value {
	display: block;
	text-align: right;
	font-size: 0.9em;
	margin-top: 2px;
}

ul.infobox li ul.value_list {
	font-size: 0.9em;
	text-align: left;
	margin-top: 32px;
}

ul.infobox li ul.value_list li {
	border-bottom: 0px;
	padding: 0;
	margin-bottom: 10px;
}

#view_package div.orbit-container div.orbit-caption {
	background-color: rgba(17, 19, 22, 0.6);
}

#view_package ul.breadcrumbs {
	background-color: rgba(17, 19, 22, 0.6);
	border: 0px;
	margin-bottom: 10px;
}

#view_package ul.breadcrumbs a {
	color: #FFFFFF;
}


#view_package {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: 1;
	color: #ffffff;
	padding: 30px;
	background-image: url("/img/bg_pack.png") !important;
	/*background-color: #1f2228;*/
	/*background-repeat: repeat;
	background-position: top left;*/
}

#view_package h1,
#view_package h2,
#view_package h3,
#view_package h4,
#view_package h5,
#view_package h6 {
	color: #FFFFFF;
}

#view_package h1 {
	margin-bottom: 0px !important;
}

#view_package img {
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;*/
}

#view_package ul.side-nav li a {
	color: #FFFFFF;
}

#view_package #close_pack {
	background:url('/img/close.svg') no-repeat center;
	position: absolute;
	top: 30px;
	right: 30px;
	opacity: 0.3;
	cursor: pointer;
	display: block;
	height: 45px;
	width: 45px;
	border-radius:50%;
	border:3px solid rgba(255,255,255,0);
	-webkit-transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
	-moz-transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
	-ms-transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
	-o-transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
	transition: 0.5s cubic-bezier(.27,1.64,.32,.95);
	z-index: 1;
}

#view_package #close_pack:hover { 
	opacity:1;
	-webkit-transform:rotate(90deg);
	-moz-transform:rotate(90deg);
	transform:rotate(90deg);
	border-radius:50%;
	border-color:rgba(255,255,255,0.3);
}

@keyframes show {
	from {background: rgba(27, 31, 35, 0);opacity:0}
	to {background: rgba(27, 31, 35, 0.95);opacity:1}
}
@-moz-keyframes show {
	from {background: rgba(27, 31, 35, 0);opacity:0}
	to {background: rgba(27, 31, 35, 0.95);opacity:1}
}
@-webkit-keyframes show {
	from {background: rgba(27, 31, 35, 0);opacity:0}
	to {background: rgba(27, 31, 35, 0.95);opacity:1}
}

#view {
	color: #1f2228 !important;
	background-color: #DADADA; /* or #FFFFFF */
}

#view div.filter dl.sub-nav {
	/*padding-bottom: 30px;*/
	margin-bottom: 0px;
}

#view div.filter {
	padding-left: 10px;
	padding-right: 10px;
}

#view div.filter dd.active {
	cursor: pointer;
}

#view div.filter dd {
	cursor: pointer;
	background-color: #FFFFFF;
	border: 1px dashed #cccccc;
	color: #222;
	border-radius: 3px;
	font-weight: normal;
	background: none repeat scroll 0% 0% #008CBA;
	padding: 0.1875rem 1rem;
	background-color: #F2F2F2;
	border: 1px solid #222;
	opacity: 0.3;
}

#view div.filter dd.active {
	cursor: pointer;
	opacity: 1.0;
}

#view #cards {
	margin-top: 30px;
}

#view #cards .column {
	float: left;
	margin-bottom: 20px;
}

#view div.filter dl.sub-nav dt {
	width: 125px;
	margin-bottom: 0px;
	padding-top:30px;
	margin-left: 0px;
	position: relative;
	top: -5px;
}


#view div.filter dl.sub-nav dd {
	margin-left: 0px;
	margin-bottom: 5px; /*fix*/
	margin-top: 25px;
	margin-right: 5px;
}

/*#view div.filter dd#workshops_filter.active a {
	background-color: #4fb34f;
}

#view div.filter dd#tour_fixdate_filter.active a {
	background-color: #4b6195;
}

#view div.filter dd#tour_tailor_filter.active a {
	background-color: #df9b62;
}

#view #cards .column.workshop img {
	border-bottom-color: #4fb34f;
}

#view #cards .column.tour-fixdate img {
	border-bottom-color: #4b6195;
}

#view #cards .column.tour-tailor img {
	border-bottom-color: #df9b62;
}*/

#view #cards .panel {
	padding: 0px !important;
	-moz-box-shadow: 0 10px 15px -12px #6f6f6f;
	-webkit-box-shadow: 0 10px 15px -12px #6f6f6f;
	box-shadow: 0 10px 15px -12px #6f6f6f;
	border: 1px solid #222;
	position: relative;
}

#view #overlay {
	background-color: #000000;
	/* IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	/* IE 5-7 */
	filter: alpha(opacity=50);
	/* Netscape */
	-moz-opacity: 0.5;
	/* Safari 1.x */
	-khtml-opacity: 0.5;
	/* Good browsers */
	opacity: 0.5;
	cursor: pointer;

}

#overlay_icon {
	color: #FFFFFF;
	cursor: pointer;
}

#view #cards img {
	cursor: pointer;
	/*border-bottom: 6px solid #cccccc;*/
	border-bottom: 1px solid #222;
}

#view #cards img:hover {

}

#view #cards h1, 
#view #cards h2, 
#view #cards h3, 
#view #cards h4, 
#view #cards h5, 
#view #cards h6 {
	margin: 0px;
	padding: 0px;
}

#view #cards .tw_title {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

#view #cards .tw_leader {
	display: block;
}

#view #cards .tw_info {
	padding: 8px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 86px;
}

#view #cards .tw_length_nd_price {
	margin-top: 10px;
	color: #383838;
	position: absolute; bottom: 10px;
}

.typeform-share {
	/*margin-top: 10px !important;*/
}

#view_package label {
	color: #FFFFFF;
}