<div id="footer">
    <div class="row">
        <div class="footer_block column small-12 medium-4 large-4"><h2>Event Iceland</h2><h5>Photo Tours and Workshops</h5></div>
        <div class="footer_block column small-12 medium-4 large-4">
            <b>CONTACT</b><br><br>
            Email: <a href="mailto:petur@eventiceland.com">petur@eventiceland.com</a><br>
            Skype: peturhaf<br>
            Phone: +(354) 857 9856
        </div>
        <div id="connect" class="footer_block column small-12 medium-4 large-4">
            <b>CONNECT</b><br><br>
            <i class="fa fa-flickr fa-4x"></i>
            <i class="fa fa-twitter fa-4x"></i>
            <i class="fa fa-youtube fa-4x"></i>
            <i class="fa fa-facebook-square fa-4x"></i>
            <i class="fa fa-google-plus-square fa-4x"></i>
            <i class="fa fa-vimeo-square fa-4x"></i>
        </div>
    </div>
    <div id="rights" class="row">
        <div class="column small-12 medium-12 large-12" style="text-align: center;">
            © 2014, Event Iceland, Inc. All Rights Reserved.<br>
            Site designed and developed by <a href="http://mrbellyrumble.github.io/" target="_blank">Brynjar Harðarson</a> <i class="fa fa-linux"></i>
        </div>
    </div>
</div>