<div id="footer">
    <div class="row">
        <div class="column small-12 medium-6 large-3">INFO</div>
        <div class="column small-12 medium-6 large-3">PARTNERS</div>
        <div class="column small-12 medium-6 large-3">CONTACT</div>
        <div id="connect" class="column small-12 medium-6 large-3">
            CONNECT<br><br>
            <i class="fa fa-flickr fa-4x"></i>
            <i class="fa fa-twitter fa-4x"></i>
            <i class="fa fa-youtube fa-4x"></i>
            <i class="fa fa-facebook-square fa-4x"></i>
            <i class="fa fa-google-plus-square fa-4x"></i>
            <i class="fa fa-skype fa-4x"></i>
            <i class="fa fa-vimeo-square fa-4x"></i>
        </div>
    </div>
    <div id="rights" class="row">
        <div class="column small-12 medium-12 large-12" style="text-align: center;">© 2014, Event Iceland, Inc. All Rights Reserved.</div>
    </div>
</div>