<div id="text_overlay">
    <img id="logo2" src="img/logo.png">
    <h1>Event Iceland</h1>
    <h2>Photo Tours and Workshops</h2>
</div>

<div id="top_nav">Tours & Workshops | Terms and Conditions | Contact</div>

<img id="logo" src="img/logo.png">

<div id="nav_bg"></div>

<i id="down" class="fa fa-chevron-down fa-4x"></i>

<!--<div id="header_message">
    <h2>Expirience Unique <br>Icelandic Environments</h2>
</div>-->

<div id="colorfade">
    <div id="header1" class="hitem2 hcover">
    </div>
    <div id="header2">
    </div>
<!--<div id="owl-demo">
    <div class="item item2 active first"></div>
    <div class="item item1"></div>
    <div class="item item0"></div>
    <div class="item item3"></div>
    <div class="item item4"></div>
    <div class="item item0"></div>
    <div class="item item1"></div>
    <div class="item item2"></div>
    <div class="item item3"></div>
    <div class="item item4 last"></div>
</div>-->
</div>
