<!--<div id="message">
    <div class="row">
        <div class="column"><h1>Who are we? <i class="fa fa-users"></i></h1> EVENT ICELAND is specialized in international workshops and photo tours. Our scheduled workshops and tailor-made tours are arranged and operated by professional producers, guides, photographers, film producers, film makers and workshops leaders. EVENT ICELAND also offers full production services in in Iceland and Greenland for films, commercials, music videos, photo shoots, documentaries, tv shows and events.</div>
    </div>
</div>-->