<div class="pack p1">
    <div class="row">
        <div class="column small-12 medium-12 large-12">
            <h1>Customized Tour</h1>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-12 large-12">
            <ul class="pack-orbit" data-orbit>
                <li>
                    <img src="/img/pack1/header1.jpg" alt="slide 1" />
                    <div class="orbit-caption"> Caption One. </div>
                </li>
                <li>
                    <img src="/img/pack1/header1.jpg" alt="slide 2" />
                    <div class="orbit-caption"> Caption Two. </div>
                </li>
                <!--<li>
                    <img src="/img/pack1/header1.jpg" alt="slide 3" />
                    <div class="orbit-caption"> Caption Three. </div>
                </li>  
                <li data-orbit-slide="headline-1">
                    <div><iframe width='100%' height='400px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/binni.hck817p0/mm/zoompan,zoomwheel,geocoder.html'></iframe></div>
                </li>-->
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-12 large-12">
            <ul class="infobox">
                <li>
                    <span class="key">Type:</span>
                    <span class="value">Customized Tour</span>
                </li>
                <li>
                    <span class="key">Price:</span>
                    <span class="value">$600 - $1.000 per day<br>
                    (depending on group size)</span>
                </li>
                <li>
                    <span class="key">Guide(s):</span>
                    <span class="value">Misc</span>
                </li>
                <li>
                    <span class="key">Theme:</span>
                    <span class="value">Anything/Anywhere</span>
                </li>
                <li>
                    <span class="key">Duration:</span>
                    <span class="value">Recommended 3 days minimum</span>
                </li>
                <li>
                    <span class="key">Included:</span>
                    <ul class="value_list">
                        <li>Photo Tour Guide & Driver</li>
                        <li>Transportation Car</li>
                        <li>Accommotation booking</li>
                        <li>Accommotation and food for Tour Guide</li>
                        <li>Phone cost for Tour Guide</li>
                        <li>Arrangement for Special activities, <br>e.x. Northern Light Hunting & Ice Caves</li>
                    </ul>
                </li>
                <li>
                    <span class="key">Not included:</span>
                    <ul class="value_list">
                        <li>Accommodation</li>
                        <li>Food for participant's</li>
                        <li>Gas/Patrol</li>
                    </ul>
                </li>
            </ul>
            <ul class="breadcrumbs">
                <li><a href="#">Details</a></li>
                <li><a href="#">About Guide</a></li>
                <li><a href="#">Price and Date</a></li>
                <li><a href="#">Need More Info?</a></li>
            </ul>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, cupiditate, illum magnam quo unde fugit vero esse libero nihil rem excepturi totam eos laboriosam maxime quisquam aliquid necessitatibus corporis reprehenderit! lorem*90</p>
            </div>
            <a class="typeform-share link button expand" href="https://eventiceland.typeform.com/to/FqrpEd" data-mode="2" target="_blank" class="">Book Now</a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        </div>
    </div>
</div>