<div class="pack p2">
    <div class="row">
        <div class="column small-12 medium-12 large-12">
            <h1>Photo Workshop</h1>
            <h2>with Mika Ceron</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-12 large-12">
            <ul class="pack-orbit" data-orbit>
                <li>
                    <img src="/img/packs/p2/image-0.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/packs/p2/image-1.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/packs/p2/image-2.jpg" alt="">
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-8 large-9">
            <div class="fix1">
                <dl class="tabs" data-tab>
                    <dd class="active"><a href="#p3_panel2-1" onclick="$('#p3book').show();">Details</a></dd>
                    <dd><a href="#p3_panel2-2" onclick="$('#p3book').show();">About Guide</a></dd>
                    <dd><a href="#p3_panel2-3" onclick="$('#p3book').show();">Need More Info?</a></dd>
                    <dd class="book"><a href="#p3_panel2-4" onclick="$('#p3book').hide();">Book Workshop</a></dd>
                </dl>
                <div class="clear"></div>
            </div>

            <div class="tabs-content">
                <div class="content active" id="p3_panel2-1">
                    <h4>Ready To Go</h4>
                    <p>Let us be your guide as we drive you to Iceland's spectacular and hidden wonders in the safety and comfort of our small fleet of 4x4 offroad vehicles. On the way, you will discover lava fields, unique waterfalls, ice lagoons, ice caves, glacier-capped volcanoes, black sand beaches and many more breathtaking locations, each of them a photographer's dream.</p>

                    <h4>Latest Photography Knowledge</h4>
                    <p>Mika Ceron is a fashion photographer, who is shooting campaigns for many international brands. His campaign pictures are published in magazines like Vogue, Elle, Grazia and many more. Mika Ceron will share the secrets of his success as he demonstrates and recreates all kinds of fashion, advertising and landscape photographic set ups, guiding you in your own personal photoshoots. You will also experience and learn some of the latest digital workflow solutions undertaking some shoots while directly tethered to a workstation. Additionally, you will receive valuable knowledge and guidance on how to work on set with studio flash generators and how to achieve special lighting effects like the well known American Night.  Best of all, you will be shooting your own sensational photographs throughout.</p>

                    <h4>Phase One</h4>
                    <p>The students of the workshop can try during the workshop one of the best digital medium format systems of Phase One. With 60 Megapixel in high end quality and with the unique Capture One workflow solution. Mika Ceron will explain the possibilities of leaf shutter lenses combined with flash lights used outdoor and many other features of this system.</p>
                </div>
                <div class="content" id="p3_panel2-2">
                    <p>Mika Ceron is ...</p>
                </div>
                <div class="content" id="p3_panel2-3">
                    <p>If you need more information regarding a workshop or tour, please contact <a href="mailto:info@eventiceland.com">info@eventiceland.com</a> or use the contact form below.</p>
                    <form action="http://getsimpleform.com/messages?form_api_token=192fc241263c2c1114699bbb9c520414" method="post">
                        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                        <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
                        <!-- all your input fields here.... -->
                        <div class="row"> <div class="large-5 columns"> <label>Name <input type="text" placeholder="" name='name' /> </label> </div> </div>
                        
                        <div class="row"> <div class="large-5 columns"> <label>Email <input type="text" placeholder="" name='email' /> </label> </div> </div>

                        <div class="row"> <div class="large-12 columns"> <label>Message <textarea placeholder="" name="message" rows="7" style="height: auto;"></textarea> </label> </div> </div>

                        <div class="row"> <div class="large-12 columns"> 
                        <input type='submit' value='Submit' />
                        </div></div>
                    </form>
                </div>
                <div class="content" id="p3_panel2-4">
                    <form action="http://getsimpleform.com/messages?form_api_token=192fc241263c2c1114699bbb9c520414" method="post">
                        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                        <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
                        <!-- all your input fields here.... -->
                        <input name="Tour/Workshop" value="Photo and Film Workshop with Bowen Staines" type="hidden">

                        <div class="row"> <div class="large-5 columns"> <label>Name <input type="text" placeholder="" name='name' /> </label> </div> </div>
                        
                        <div class="row"> <div class="large-5 columns"> <label>Email <input type="text" placeholder="" name='email' /> </label> </div> </div>

                        <div class="row"> <div class="large-5 columns"> <label>Number of people <input type="number" name="number of people" value="1" min="1" max="18" size="3" style="width: auto;" /> </label> </div> </div>

                        <div class="row"> <div class="large-5 columns"> <label>Select a date to book

                        <select name="Date">
                            <option>4 - 8 May 2014</option>
                            <option>25 - 30 August 2014</option>
                        </select>

                        </label> </div> </div>

                        <div class="row"> <div class="large-12 columns"> <label>Message / Other Information (optional) <textarea placeholder="" name="message" rows="7" style="height: auto;"></textarea> </label> </div> </div>

                        <div class="row"> <div class="large-12 columns"> 
                        <input type='submit' value='Submit' />
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column small-12 medium-4 large-3">
            <ul class="infobox">
                <li>
                    <span class="key">Type:</span>
                    <span class="value">Workshop</span>
                </li>
                <li>
                    <span class="key">Price:</span>
                    <span class="value">$5.800</span>
                </li>
                <li>
                    <span class="key">Guide(s):</span>
                    <span class="value">Mika Ceron</span>
                </li>
                <li>
                    <span class="key">Theme:</span>
                    <span class="value">?</span>
                </li>
                <li>
                    <span class="key">Duration:</span>
                    <span class="value">6 Days</span>
                </li>
                <li>
                    <span class="key">Date(s):</span>
                    <ul class="value_list">
                        <li>4 - 8 May 2014</li>
                        <li>25 - 30 August 2014</li>
                    </ul>
                </li>
                <li>
                    <span class="key">Included:</span>
                    <ul class="value_list">
                        <li>?</li>
                    </ul>
                </li>
                <li>
                    <span class="key">Not included:</span>
                    <ul class="value_list">
                        <li>?</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a id="p3book" href="#p3_panel2-4" onclick="$($('#view_package .p3 .tabs dd a')[3]).click(); $(this).hide();" class="link button expand">Book Workshop</a>
        </div>
    </div>
</div>