<div class="pack p3">
    <div class="row">
        <div class="column small-12 medium-12 large-12">
            <h1>Photo and Film Workshop</h1>
            <h2>with Bowen Staines</h2>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-12 large-12">
            <ul class="pack-orbit" data-orbit>
                <li>
                    <img src="/img/p3/image-5.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-1.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-13.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-3.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-4.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-0.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-6.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-7.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-8.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-9.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-10.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-11.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-12.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-2.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-14.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-15.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-16.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-17.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-18.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-19.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-20.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-21.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-22.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-23.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-24.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-25.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-26.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-27.jpg" alt="">
                    <div></div>
                </li>
                <li>
                    <img src="/img/p3/image-28.jpg" alt="">
                    <div></div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column small-12 medium-8 large-9">
            <dl class="tabs" data-tab>
                <dd class="active"><a href="#p3_panel2-1">Details</a></dd>
                <dd><a href="#p3_panel2-2">About Guide</a></dd>
                <dd><a href="#p3_panel2-3">Need More Info?</a></dd>
                <dd class="book"><a class="typeform-share" href="https://eventiceland.typeform.com/to/FqrpEd" data-mode="2" target="_blank" class="">Book Workshop</a></dd>
            </dl>

            <div class="tabs-content">
                <div class="content active" id="p3_panel2-1">
                    <p>Each day, participants will be given a list of “objectives” or “missions” for each location, specially tailored to their personal levels of experience. This will allow individuals to branch off and exorcise their creativity on their own, while still actively engaging in group activities. I will also be giving an in-depth and comprehensive discussion about the history of each location, its significance to Icelandic culture, as well as folklore and myths surrounding the specific area; it is my hope that each individual leaves my seminar with not only a bigger understanding of photography and cinematography, but of Iceland and Icelandic culture and music, as a whole.</p>

                    <h4>Day One</h4>
                    <ul>
                        <li>Pick guests up from Keflavík Airport</li>
                        <li>Day One is a “grace day” in Reykjavík, allowing guests to rest and acclimate themselves to Iceland’s time difference, purchase food for the trip, etc.</li>
                    </ul>

                    <h4>Day Two</h4>
                    <ul>
                        <li>Raufarhólshellir lava caves, near Þorlákshöfn</li>
                        <li>Seljalandsfoss waterfall & surrounding area</li>
                        <li>Þórsmörk National Park</li>
                        <li>Stay at guesthouse in Vík</li>
                    </ul>

                    <h4>Day Three</h4>
                    <ul>
                        <li>Breathtaking Viking huts in the hills near Vík</li>
                        <li>Skógafoss waterfall & surrounding area</li>
                        <li>Sólheimasandúr & the spectacular wreckage of a crashed DC-3 aircraft
                        Return to Vík for the night</li>
                    </ul>

                    <h4>Day Four</h4>
                    <ul>
                        <li>Sólheimajökull glacier & surrounding area</li>
                        <li>Dyrhólaey & cliffs overlooking southern coastline</li>
                        <li>Hidden lava tunnels near Dyrhólaey</li>
                        <li>Reynisfjara</li>
                        <li>Return to Vík</li>
                    </ul>

                    <h4>Day Five</h4>
                    <ul>
                        <li>Various locations in the mountains above Vík & Mýradalur</li>
                        <li>Skaftafell & Fellsjökull glaciers</li>
                        <li>Svartifoss (1hr walk from Skaftafell visitor centre)</li>
                        <li>Jökulsárlón glacial lagoon & ice beach</li>
                        <li>Drive 1 hour back towards Vík, stay near Kirkjubæjarklaustur</li>
                    </ul>

                    <h4>Day Six</h4>
                    <ul>
                        <li>Systrafoss in Kirkjubæjarklaustur</li>
                        <li>Lakagigar (need 4×4)</li>
                        <li>Begin the drive back to Reykjavík, stay at guesthouse in Hella or Hvolsvöllur.</li>
                    </ul>

                    <h4>Day Seven</h4>
                    <ul>
                        <li>Return to Reykjavík</li>
                        <li>Urban shoot around town</li>
                        <li>Meet bands/artists that night for practice or private show (dependent on artist’s availability at the time. Feel free to contact bodogger@comcast.net for more information.)</li>
                    </ul>
                </div>
                <div class="content" id="p3_panel2-2">
                    <p>Bowen Staines has substantial experience in the fields of photography and filmmaking for over fifteen years, and has worked closely with National Geographic as a videographer and still photographer for the last six years. Bowen is also the owner of the Iceland-based film production company, Don’t Panic Films (DontPanicIceland.com), his recent projects being music videos for Sólstafir’s ‘Fjara’, Skálmöld’s ‘Gleipnir’, and The Vintage Caravan’s ‘Expand Your Mind’. Bowen has directed videos for clients ranging from Dolly Parton and Ólafur Arnalds, to Alan Rickman and Leonard Cohen. Having worked on countless projects in Iceland, Bowen has extensive knowledge of the Icelandic countryside, the history of the island, and the intricacies of leading professional photography workshops.</p>

                    <p>Email: <a href="mailto:bodogger@comcast.net">bodogger@comcast.net</a><br>
                    Website: <a href="http://www.dontpaniciceland.com/">http://www.dontpaniciceland.com/</a></p>
                </div>
                <div class="content" id="p3_panel2-3">
                    <p>If you need more information regarding a workshop or tour, please contact <a href="mailto:info@eventiceland.com">info@eventiceland.com</a> or use the contact form below.</p>
                    <form action="http://getsimpleform.com/messages?form_api_token=192fc241263c2c1114699bbb9c520414" method="post">
                        <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                        <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
                        <!-- all your input fields here.... -->
                        <div class="row"> <div class="large-5 columns"> <label>Name <input type="text" placeholder="" name='name' /> </label> </div> </div>
                        
                        <div class="row"> <div class="large-5 columns"> <label>Email <input type="text" placeholder="" name='email' /> </label> </div> </div>

                        <div class="row"> <div class="large-12 columns"> <label>Message <textarea placeholder="" name="message" rows="7" style="height: auto;"></textarea> </label> </div> </div>

                        <div class="row"> <div class="large-12 columns"> 
                        <input type='submit' value='Submit' />
                        </div></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="column small-12 medium-4 large-3">
            <ul class="infobox">
                <li>
                    <span class="key">Type:</span>
                    <span class="value">Workshop</span>
                </li>
                <li>
                    <span class="key">Price:</span>
                    <span class="value">$4.500</span>
                </li>
                <li>
                    <span class="key">Guide(s):</span>
                    <span class="value">Bowen Staines</span>
                </li>
                <li>
                    <span class="key">Theme:</span>
                    <span class="value">Lava caves, lava tunnels, waterfalls, national park, viking huts, aircraft wreck, glaciers, coustline, mountains, ice beach</span>
                </li>
                <li>
                    <span class="key">Duration:</span>
                    <span class="value">5 Days</span>
                </li>
                <li>
                    <span class="key">Date(s):</span>
                    <ul class="value_list">
                        <li>15-20 May 2014</li>
                        <li>15-20 June 2014</li>
                        <li>7-13 July 2014</li>
                        <li>20-25 July 2014</li>
                        <li>17-22 August 2014</li>
                        <li>9-15 November 2014</li>
                    </ul>
                </li>
                <li>
                    <span class="key">Included:</span>
                    <ul class="value_list">
                        <li>?</li>
                    </ul>
                </li>
                <li>
                    <span class="key">Not included:</span>
                    <ul class="value_list">
                        <li>?</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <a class="typeform-share link button expand" href="https://eventiceland.typeform.com/to/FqrpEd" data-mode="2" target="_blank" class="">Book Workshop</a>
            <script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
        </div>
    </div>
</div>