<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/bower_components/jquery/jquery.min.js"><\/script>')</script>

<!--bower-->
<script type='text/javascript' src="/bower_components/foundation/js/foundation.min.js"></script>
<script type='text/javascript' src="/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
<script type='text/javascript' src="/bower_components/foundation/js/foundation/foundation.equalizer.js"></script>

<script src="/bower_components/pace/pace.min.js"></script>
<script src="/bower_components/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
<!--endbower-->

<!-- build:js(app) /js/script.js -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script src="/js/view.js"></script>
<!-- endbuild -->

<script>
$(document).ready(function() {
    $(document).foundation({
        orbit: {
            animation: 'slide',
            timer_speed: 10000,
            timer: false,
            circular: true,
            pause_on_hover: true,
            resume_on_mouseout: false,
            animation_speed: 500,
            navigation_arrows: true,
            bullets: false,
            next_on_click: true
        }
    });
    $(window).load(function() {
        $(document).foundation();
    })
    function headerSize() {

        $("#text_overlay h1").css("font-size", $(window).width()/15+"px");
        $("#text_overlay h2").css("font-size", $(window).width()/37+"px");
        $("#text_overlay h2").css("padding-top", $(window).width()/13+"px");

        console.log($(window).width()/13)
    }
    headerSize()
    $(window).on("resize", function() {
        headerSize()
    });
});
</script>
