<div id="view" class="n1">
    <div class="row">
        <div class="column"><h1>Tours and Workshops <i class="fa fa-camera-retro"></i></h1></div>
    </div>
    <!--<div class="row filter">
        <dl class="sub-nav column">
            <dt style="color: #1f2228; font-weight: bold;">Filter (Type):</dt>
            <dd class="active">All</dd>
            <dd id="workshops_filter" class="active">Workshops</dd>
            <dd id="tour_fixdate_filter" class="active">Tours: Fixed Date</dd>
            <dd id="tour_tailor_filter" class="active">Tours: Tailor Made</dd>
        </dl>
    </div>-->
    <!--<div class="row filter">
        <dl class="sub-nav column">
            <dt style="color: #1f2228; font-weight: bold;">Filter (Theme):</dt>
            <dd class="active">All</dd>
            <dd class="active">Aurora Borealis / Northern Lights</dd>
            <dd class="active">Ice Caves</dd>
            <dd class="active">Ice Lagoons</dd>
            <dd class="active">Waterfalls</dd>
            <dd class="active">Black Beaches</dd>
            <dd class="active">Lava</dd>
        </dl>
    </div>-->
    <div id="heightFix">
        <div id="cards" class="row" data-equalizer>
            <div class="column small-12 medium-6 large-4 workshop">
                <div class="panel" data-equalizer-watch>
                    <img src="/img/tw/custom3.jpg" alt="" class="pack p1">
                    <div class="tw_info">
                        <h5 class="tw_title show-for-large-up">Customized Photo Tour</h5>
                        <h6 class="tw_leader show-for-large-up"></h6>

                        <h4 class="tw_title show-for-medium">Customized Photo Tour</h4>
                        <h5 class="tw_leader show-for-medium"></h5>

                        <h3 class="tw_title show-for-small">Customized Photo Tour</h3>
                        <h4 class="tw_leader show-for-small"></h4>

                        <div class="tw_length_nd_price">$600 - $1000 per day<br>(depending on group size)</div>
                    </div>
                </div>
            </div>
            <div class="column small-12 medium-6 large-4 workshop">
                <div class="panel" data-equalizer-watch>
                    <img src="/img/tw/mika_workshop_1.jpg" alt="" class="pack p2">
                    <div class="tw_info">
                        <h5 class="tw_title show-for-large-up">Photo Workshop</h5>
                        <h6 class="tw_leader show-for-large-up">with Mika Ceron</h6>

                        <h4 class="tw_title show-for-medium">Photo Workshop</h4>
                        <h5 class="tw_leader show-for-medium">with Mika Ceron</h5>

                        <h3 class="tw_title show-for-small">Photo Workshop</h3>
                        <h4 class="tw_leader show-for-small">with Mika Ceron</h4>

                        <div class="tw_length_nd_price">6 Days / $5.800</div>
                    </div>
                </div>
            </div>
            <div class="column small-12 medium-6 large-4 tour-fixdate">
                <div class="panel" data-equalizer-watch>
                    <img src="/img/tw/bowen_workshop_1.jpg" alt="" class="pack p3">
                    <div class="tw_info">
                        <h5 class="tw_title show-for-large-up">Photo and Film Workshop</h5>
                        <h6 class="tw_leader show-for-large-up">with Bowen Staines</h6>

                        <h4 class="tw_title show-for-medium">Photo and Film Workshop</h4>
                        <h5 class="tw_leader show-for-medium">with Bowen Staines</h5>

                        <h3 class="tw_title show-for-small">Photo and Film Workshop</h3>
                        <h4 class="tw_leader show-for-small">with Bowen Staines</h4>

                        <div class="tw_length_nd_price">7 Days / $4.500</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="overlay" style="position:absolute; top: -1000px; left: -1000px;"></div>
    <i id="overlay_icon" class="fa fa-chevron-circle-down fa-4x" style="position:absolute; top: -1000px; left: -1000px;"></i>
</div>