
    <div class="tabs-content">
        <div class="content active" id="panel2-1">
            <div id="view" class="n1">
                <div class="row">
                    <div class="column"><h1>Tours and Workshops <i class="fa fa-camera-retro"></i></h1></div>
                </div>
                <!--<div class="row filter">
                    <dl class="sub-nav column">
                        <dt style="color: #1f2228; font-weight: bold;">Filter (Type):</dt>
                        <dd class="active">All</dd>
                        <dd id="workshops_filter" class="active">Workshops</dd>
                        <dd id="tour_fixdate_filter" class="active">Tours: Fixed Date</dd>
                        <dd id="tour_tailor_filter" class="active">Tours: Tailor Made</dd>
                    </dl>
                </div>-->
                <!--<div class="row filter">
                    <dl class="sub-nav column">
                        <dt style="color: #1f2228; font-weight: bold;">Filter (Theme):</dt>
                        <dd class="active">All</dd>
                        <dd class="active">Aurora Borealis / Northern Lights</dd>
                        <dd class="active">Ice Caves</dd>
                        <dd class="active">Ice Lagoons</dd>
                        <dd class="active">Waterfalls</dd>
                        <dd class="active">Black Beaches</dd>
                        <dd class="active">Lava</dd>
                    </dl>
                </div>-->
                <div id="heightFix">
                    <div id="cards" class="row" data-equalizer>
                        <div class="column small-12 medium-6 large-4 workshop">
                            <div class="panel" data-equalizer-watch>
                                <img src="/img/tw/custom3.jpg" alt="" class="pack p1">
                                <div class="tw_info">
                                    <h5 class="tw_title show-for-large-up">Customized Tour</h5>
                                    <h6 class="tw_leader show-for-large-up"></h6>

                                    <h4 class="tw_title show-for-medium">Customized Tour</h4>
                                    <h5 class="tw_leader show-for-medium"></h5>

                                    <h3 class="tw_title show-for-small">Customized Tour</h3>
                                    <h4 class="tw_leader show-for-small"></h4>

                                    <div class="tw_length_nd_price">$600 - $1000 per day<br>(depending on group size)</div>
                                </div>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-4 workshop">
                            <div class="panel" data-equalizer-watch>
                                <img src="/img/tw/mika_workshop_1.jpg" alt="" class="pack p2">
                                <div class="tw_info">
                                    <h5 class="tw_title show-for-large-up">Photo Workshop</h5>
                                    <h6 class="tw_leader show-for-large-up">with Mika Ceron</h6>

                                    <h4 class="tw_title show-for-medium">Photo Workshop</h4>
                                    <h5 class="tw_leader show-for-medium">with Mika Ceron</h5>

                                    <h3 class="tw_title show-for-small">Photo Workshop</h3>
                                    <h4 class="tw_leader show-for-small">with Mika Ceron</h4>

                                    <div class="tw_length_nd_price">6 Days / $5.800</div>
                                </div>
                            </div>
                        </div>
                        <div class="column small-12 medium-6 large-4 tour-fixdate">
                            <div class="panel" data-equalizer-watch>
                                <img src="/img/tw/bowen_workshop_1.jpg" alt="" class="pack p3">
                                <div class="tw_info">
                                    <h5 class="tw_title show-for-large-up">Photo and Film Workshop</h5>
                                    <h6 class="tw_leader show-for-large-up">with Bowen Staines</h6>

                                    <h4 class="tw_title show-for-medium">Photo and Film Workshop</h4>
                                    <h5 class="tw_leader show-for-medium">with Bowen Staines</h5>

                                    <h3 class="tw_title show-for-small">Photo and Film Workshop</h3>
                                    <h4 class="tw_leader show-for-small">with Bowen Staines</h4>

                                    <div class="tw_length_nd_price">7 Days / $4.500</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="overlay" style="position:absolute; top: -1000px; left: -1000px;"></div>
                <i id="overlay_icon" class="fa fa-chevron-circle-down fa-4x" style="position:absolute; top: -1000px; left: -1000px;"></i>
            </div>
        </div>
        <div class="content" id="panel2-2">
            <div class="n2">
                <div class="row">
                    <div class="column">
                        <h3>Terms and Conditions</h3>

                        <h4>Reservations</h4>

                        <p>Reservations can be sent by an online booking form on www.arcticoniceland.com or by e-mail to info@arcticon.is. To ensure efficiency and good service please include detailed information for each booking, including name of passenger, accommodation, tours and other service required.</p>

                        <p>The ArcticON Iceland Team makes an effort of sending the final booking confirmation within five days after receiving your reservation request. The customer receives an invoice with the total amount due along with the booking confirmation by e-mail or post. Please check all details on the booking confirmation and on the invoice as soon as you receive the information.</p>

                        <h4>Payments – Individuals</h4>

                        <p>A non-refundable 10% deposit payment of the total amount should reach ArcticON Iceland within 10 days from the issue date of the invoice. The final payment should reach ArcticON Iceland 4 weeks prior to arrival or upon confirmation of booking if done within 4 weeks. Upon receiving final payment, ArcticON Iceland will send all travel documents.</p>

                        <p>We offer credit or debit card payment, PayPal, check or cash. We use PayPal as our merchant provider which allows us to process your payments from anywhere in the world in any currency. We also accept credit card over the phone.</p>

                        <p>In case of a delayed payment ArcticON Iceland reserves the right to treat this as cancellation and withdraw from its confirmation of services.</p>

                        <h4>Validity of Prices</h4>

                        <p>ArcticON Iceland reserves the right to increase prices already quoted or published on the website www.arcticoniceland.com without notice in the event of currency fluctuation, government taxes, or due to any other cost increase that are beyond ArcticON Iceland‘s control.</p>

                        <p>After an invoice has been issued the price is guaranteed against any surcharge, unless an increase is due to government laws or currency changes. ArcticON Iceland will absorb an amount equivalent to 5% of the package price due to government laws or currency changes after the invoice has been issued until it has been balanced. Amounts that exceed the 5% will be charged to the clients, who will be entitled to cancel their booking with a full refund if they wish.</p>

                        <p>After an invoice has been paid in full the price is guaranteed and will not be affected by any changes.</p>

                        <h4>Cancellations – Individuals</h4>

                        <p>Cancellations should be made in writing by e-mail to info@arcticon.is. In conformity with business practices within the Icelandic travel industry, the travel agent is obliged to charge cancellation fees as following:</p>

                        <p>For own tours</p>

                        <p>More than 32 days prior to arrival 10% of the total price.
                        31 – 15 days prior to arrival 25% of the total price.
                        14 – 7 days prior to arrival 40% of the total price.
                        6 – 3 days prior to arrival 75% of the total price.
                        Less than 72 hours’ notice or no-show 100% of the total price.</p>

                        <p>Other cancellation fees may apply for mobile homes, ferry transfers, flights (domestic and international) and other services supplied by a third party.</p>

                        <h4>Cancellation – Special Groups</h4>

                        <p>Conditions for groups will be sent with each offer.</p>

                        <h4>Cancellations through ArcticON Iceland</h4>

                        <p>ArcticON Iceland reserves the right to cancel a group tour latest 6 weeks prior to intended arrival, if the minimum number of participants has not been reached. In that case ArcticON Iceland will refund the full deposit already paid. However, cancellation fees for booked flights (domestic or international) or services booked by ArcticON Iceland through a third party may apply. ArcticON Iceland will inform the customer of third party‘s cancellation fees upon booking.</p>

                        <p>If a tour has to be cancelled or changed due to act of nature beyond control, not foreseeable at the time of booking, both ArcticON Iceland as well as the customer can cancel the arrangement. ArcticON Iceland can charge an appropriate compensation for already booked or provided services. If the travel arrangement included transportation, ArcticON Iceland is obliged to provide for the return transfer. The cost that arises shall be divided equally between ArcticON Iceland and the customer, while other costs arising shall be paid by the customers.</p>

                        <h4>Eruptions & Force Majeure</h4>

                        <p>There is a volcanic eruption in Iceland a few times per decade – it’s a big part of why Iceland is so fascinating. Luckily, very few eruptions disrupt international flights like the Eyjafjallajokull did in the spring of 2010. Icelandic tourist companies and hotels understand that such an event is beyond anyone’s control so they (and we) refunded everything 100%. It is also possible that an eruption, a flood, a storm or another form of Force Majeure affects a tour in a way that is beyond human control. We will deal with that the best we can, together with our clients.</p>

                        <p>The standard Force Majeure or ‘Act of God’ clause applies and frees both parties from liability or obligation when an extraordinary event or circumstances beyond the control of the parties (clients / tour operator) prevent one or both parties from fulfilling their obligations under the contract.</p>

                        <h4>Complaints and compensation</h4>

                        <p>If the customer should have any problems during the holiday, please inform the relevant supplier (e.g. hotel, car rental etc.), the ArcticON Iceland Team or your guide (if applicable) who will make an effort to resolve the problem. If the problem cannot be corrected locally all complaints must reach ArcticON Iceland within 10 days from departure from Iceland.</p>

                        <h4>Insurance and health care</h4>

                        <p>Please note that individual travel insurance is not included in the tour prices. It is therefore important that clients arrange for their own travel insurance before visiting. Medical assistance and health care is, however, readily available in Iceland.</p>

                        <p>Residents of EEA Member Countries should not forget to bring their European Health Insurance Card (EHIC).</p>

                        <h4>Legislation</h4>

                        <p>ArcticON Iceland disclaims responsibility for any loss, damage, accidents, sickness or changes in schedules caused by weather, strikes or any other irregularity outside ArcticON Iceland’s control. ArcticON Iceland reserves the right to alter routes, itineraries or departure times, without prior notice, should the necessity arise. In case of changes, such as changes in flight schedule etc., the customer has to pay for any additional cost caused by this (such as extra hotel nights, meals, etc.).</p>

                        <p>These terms and conditions shall be governed by Icelandic Law and the Courts of the Republic of Iceland shall have exclusive jurisdiction.</p>

                        <h4>About Company</h4>

                        <p>ArcticON ICELAND
                        FILM and TOURISM ehf (hjáheiti)
                        kt. 711005-0800
                        P.O. BOX 210
                        212 Gardabaer
                        ICELAND</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="content" id="panel2-3">
            <form action="http://getsimpleform.com/messages?form_api_token=192fc241263c2c1114699bbb9c520414" method="post">
                <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
                <input type='hidden' name='redirect_to' value='<the complete return url e.g. http://fooey.com/thank-you.html>' />
                <!-- all your input fields here.... -->
                <div class="row"> <div class="large-5 columns"> <label>Name <input type="text" placeholder="" name='name' /> </label> </div> </div>
                
                <div class="row"> <div class="large-5 columns"> <label>Email <input type="text" placeholder="" name='email' /> </label> </div> </div>

                <div class="row"> <div class="large-12 columns"> <label>Message <textarea placeholder="" name="message" rows="7" style="height: auto;"></textarea> </label> </div> </div>

                <div class="row"> <div class="large-12 columns"> 
                <input type='submit' value='Submit' />
                </div></div>
            </form>
        </div>
    </div>